# Plantilla de configuración para estudiantes
# Copia este archivo y renómbralo como '.env'
# Luego, rellena los datos con tu propia llave o la proporcionada por el profesor.

ROBOFLOW_API_KEY=tu_llave_aqui # TODO: Solicitar llave al encargado del proyecto
ROBOFLOW_PROJECT=football-ucr/ucr-futsal-ball2/6
